IComUser/WebRoot/WEB-INF/wsdl/IcomUserServiceService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://userservice.icom.sig/" targetNamespace="http://userservice.icom.sig/" version="1.0">

  <xs:element name="addComment" type="tns:addComment"/>

  <xs:element name="addCommentResponse" type="tns:addCommentResponse"/>

  <xs:element name="countNumLikeAndComment" type="tns:countNumLikeAndComment"/>

  <xs:element name="countNumLikeAndCommentResponse" type="tns:countNumLikeAndCommentResponse"/>

  <xs:element name="deleteComment" type="tns:deleteComment"/>

  <xs:element name="deleteCommentResponse" type="tns:deleteCommentResponse"/>

  <xs:element name="getCommentsOfPlace" type="tns:getCommentsOfPlace"/>

  <xs:element name="getCommentsOfPlaceResponse" type="tns:getCommentsOfPlaceResponse"/>

  <xs:element name="getLogMainService" type="tns:getLogMainService"/>

  <xs:element name="getLogMainServiceResponse" type="tns:getLogMainServiceResponse"/>

  <xs:element name="getLogTopicSearch" type="tns:getLogTopicSearch"/>

  <xs:element name="getLogTopicSearchResponse" type="tns:getLogTopicSearchResponse"/>

  <xs:element name="getLogViewDetail" type="tns:getLogViewDetail"/>

  <xs:element name="getLogViewDetailResponse" type="tns:getLogViewDetailResponse"/>

  <xs:element name="getMostLikesComment" type="tns:getMostLikesComment"/>

  <xs:element name="getMostLikesCommentResponse" type="tns:getMostLikesCommentResponse"/>

  <xs:element name="getPlaceStat" type="tns:getPlaceStat"/>

  <xs:element name="getPlaceStatResponse" type="tns:getPlaceStatResponse"/>

  <xs:element name="getPreferenceStat" type="tns:getPreferenceStat"/>

  <xs:element name="getPreferenceStatResponse" type="tns:getPreferenceStatResponse"/>

  <xs:element name="getUserInfo" type="tns:getUserInfo"/>

  <xs:element name="getUserInfoResponse" type="tns:getUserInfoResponse"/>

  <xs:element name="getUserLikeComment" type="tns:getUserLikeComment"/>

  <xs:element name="getUserLikeCommentResponse" type="tns:getUserLikeCommentResponse"/>

  <xs:element name="getUserLikePlace" type="tns:getUserLikePlace"/>

  <xs:element name="getUserLikePlaceResponse" type="tns:getUserLikePlaceResponse"/>

  <xs:element name="likeComment" type="tns:likeComment"/>

  <xs:element name="likeCommentResponse" type="tns:likeCommentResponse"/>

  <xs:element name="likePlace" type="tns:likePlace"/>

  <xs:element name="likePlaceResponse" type="tns:likePlaceResponse"/>

  <xs:element name="logMainService" type="tns:logMainService"/>

  <xs:element name="logMainServiceResponse" type="tns:logMainServiceResponse"/>

  <xs:element name="logTopicSearch" type="tns:logTopicSearch"/>

  <xs:element name="logTopicSearchResponse" type="tns:logTopicSearchResponse"/>

  <xs:element name="logViewDetail" type="tns:logViewDetail"/>

  <xs:element name="logViewDetailResponse" type="tns:logViewDetailResponse"/>

  <xs:element name="loginByFace" type="tns:loginByFace"/>

  <xs:element name="loginByFaceResponse" type="tns:loginByFaceResponse"/>

  <xs:element name="loginByGoogle" type="tns:loginByGoogle"/>

  <xs:element name="loginByGoogleResponse" type="tns:loginByGoogleResponse"/>

  <xs:element name="sharePlaceToFacebook" type="tns:sharePlaceToFacebook"/>

  <xs:element name="sharePlaceToFacebookResponse" type="tns:sharePlaceToFacebookResponse"/>

  <xs:element name="unLikeComment" type="tns:unLikeComment"/>

  <xs:element name="unLikeCommentResponse" type="tns:unLikeCommentResponse"/>

  <xs:element name="unLikePlace" type="tns:unLikePlace"/>

  <xs:element name="unLikePlaceResponse" type="tns:unLikePlaceResponse"/>

  <xs:element name="updatePlaceStat" type="tns:updatePlaceStat"/>

  <xs:element name="updatePlaceStatResponse" type="tns:updatePlaceStatResponse"/>

  <xs:element name="updatePreferenceStat" type="tns:updatePreferenceStat"/>

  <xs:element name="updatePreferenceStatResponse" type="tns:updatePreferenceStatResponse"/>

  <xs:complexType name="likePlace">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element name="arg2" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="likePlaceResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="logMainService">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:double"/>
      <xs:element minOccurs="0" name="arg2" type="xs:double"/>
      <xs:element minOccurs="0" name="arg3" type="xs:float"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:int"/>
      <xs:element minOccurs="0" name="arg6" type="xs:int"/>
      <xs:element minOccurs="0" name="arg7" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="logMainServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCommentsOfPlace">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element name="arg2" type="xs:int"/>
      <xs:element name="arg3" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCommentsOfPlaceResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:commentModel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="commentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="numLike" type="xs:long"/>
      <xs:element name="point" type="xs:int"/>
      <xs:element minOccurs="0" name="time" type="xs:string"/>
      <xs:element name="userLike" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sharePlaceToFacebook">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element name="arg2" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sharePlaceToFacebookResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPlaceStat">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPlaceStatResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:placeStatModel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="placeStatModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="placeUri" type="xs:string"/>
      <xs:element minOccurs="0" name="resultNearby" type="xs:int"/>
      <xs:element minOccurs="0" name="resultPreference" type="xs:int"/>
      <xs:element minOccurs="0" name="resultSemantic" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="logViewDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="logViewDetailResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLogTopicSearch">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLogTopicSearchResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:logTopicSearchModel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="logTopicSearchModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="classUri" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="timeAdd" type="xs:string"/>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countNumLikeAndComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countNumLikeAndCommentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:numLikeCommentModel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="numLikeCommentModel">
    <xs:sequence>
      <xs:element name="numComment" type="xs:long"/>
      <xs:element name="numLike" type="xs:long"/>
      <xs:element name="numShare" type="xs:long"/>
      <xs:element name="userLike" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="likeComment">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element name="arg2" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="likeCommentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loginByFace">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loginByFaceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userModel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="userModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element name="lockOut" type="xs:boolean"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="point" type="xs:int"/>
      <xs:element name="token" type="xs:long"/>
      <xs:element name="type" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMostLikesComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMostLikesCommentResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:commentModel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserLikePlace">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserLikePlaceResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:userLikeModel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="userLikeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="time" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updatePreferenceStat">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updatePreferenceStatResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLogMainService">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLogMainServiceResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:logMainServiceModel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="logMainServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="callTime" type="xs:string"/>
      <xs:element minOccurs="0" name="classUri" type="xs:string"/>
      <xs:element minOccurs="0" name="geoLat" type="xs:double"/>
      <xs:element minOccurs="0" name="geoLon" type="xs:double"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="keyword" type="xs:string"/>
      <xs:element minOccurs="0" name="maxResult" type="xs:int"/>
      <xs:element minOccurs="0" name="offset" type="xs:int"/>
      <xs:element minOccurs="0" name="radius" type="xs:float"/>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPreferenceStat">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPreferenceStatResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:preferenceStatModel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="preferenceStatModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="count" type="xs:int"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="month" type="xs:string"/>
      <xs:element minOccurs="0" name="preferenceUri" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element name="arg3" type="xs:long"/>
      <xs:element name="arg4" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addCommentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userModel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loginByGoogle">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loginByGoogleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userModel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserLikeComment">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserLikeCommentResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:userLikeModel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteComment">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteCommentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="logTopicSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="logTopicSearchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updatePlaceStat">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" nillable="true" type="xs:string"/>
      <xs:element name="arg1" type="xs:boolean"/>
      <xs:element name="arg2" type="xs:boolean"/>
      <xs:element name="arg3" type="xs:boolean"/>
      <xs:element name="arg4" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updatePlaceStatResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="unLikeComment">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element name="arg2" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="unLikeCommentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="unLikePlace">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element name="arg2" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="unLikePlaceResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLogViewDetail">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLogViewDetailResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:logViewDetailModel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="logViewDetailModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="distance" type="xs:float"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="placeUri" type="xs:string"/>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
      <xs:element minOccurs="0" name="viewDate" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
