IComUser/WebRoot/WEB-INF/wsdl/IcomUserServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://userservice.icom.sig/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IcomUserServiceService" targetNamespace="http://userservice.icom.sig/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://userservice.icom.sig/" schemaLocation="IcomUserServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getUserInfo">
    <part element="tns:getUserInfo" name="parameters"/>
  </message>
  <message name="getUserInfoResponse">
    <part element="tns:getUserInfoResponse" name="parameters"/>
  </message>
  <message name="addComment">
    <part element="tns:addComment" name="parameters"/>
  </message>
  <message name="addCommentResponse">
    <part element="tns:addCommentResponse" name="parameters"/>
  </message>
  <message name="loginByFace">
    <part element="tns:loginByFace" name="parameters"/>
  </message>
  <message name="loginByFaceResponse">
    <part element="tns:loginByFaceResponse" name="parameters"/>
  </message>
  <message name="loginByGoogle">
    <part element="tns:loginByGoogle" name="parameters"/>
  </message>
  <message name="loginByGoogleResponse">
    <part element="tns:loginByGoogleResponse" name="parameters"/>
  </message>
  <message name="deleteComment">
    <part element="tns:deleteComment" name="parameters"/>
  </message>
  <message name="deleteCommentResponse">
    <part element="tns:deleteCommentResponse" name="parameters"/>
  </message>
  <message name="likeComment">
    <part element="tns:likeComment" name="parameters"/>
  </message>
  <message name="likeCommentResponse">
    <part element="tns:likeCommentResponse" name="parameters"/>
  </message>
  <message name="unLikeComment">
    <part element="tns:unLikeComment" name="parameters"/>
  </message>
  <message name="unLikeCommentResponse">
    <part element="tns:unLikeCommentResponse" name="parameters"/>
  </message>
  <message name="likePlace">
    <part element="tns:likePlace" name="parameters"/>
  </message>
  <message name="likePlaceResponse">
    <part element="tns:likePlaceResponse" name="parameters"/>
  </message>
  <message name="unLikePlace">
    <part element="tns:unLikePlace" name="parameters"/>
  </message>
  <message name="unLikePlaceResponse">
    <part element="tns:unLikePlaceResponse" name="parameters"/>
  </message>
  <message name="sharePlaceToFacebook">
    <part element="tns:sharePlaceToFacebook" name="parameters"/>
  </message>
  <message name="sharePlaceToFacebookResponse">
    <part element="tns:sharePlaceToFacebookResponse" name="parameters"/>
  </message>
  <message name="countNumLikeAndComment">
    <part element="tns:countNumLikeAndComment" name="parameters"/>
  </message>
  <message name="countNumLikeAndCommentResponse">
    <part element="tns:countNumLikeAndCommentResponse" name="parameters"/>
  </message>
  <message name="getMostLikesComment">
    <part element="tns:getMostLikesComment" name="parameters"/>
  </message>
  <message name="getMostLikesCommentResponse">
    <part element="tns:getMostLikesCommentResponse" name="parameters"/>
  </message>
  <message name="getCommentsOfPlace">
    <part element="tns:getCommentsOfPlace" name="parameters"/>
  </message>
  <message name="getCommentsOfPlaceResponse">
    <part element="tns:getCommentsOfPlaceResponse" name="parameters"/>
  </message>
  <message name="getUserLikePlace">
    <part element="tns:getUserLikePlace" name="parameters"/>
  </message>
  <message name="getUserLikePlaceResponse">
    <part element="tns:getUserLikePlaceResponse" name="parameters"/>
  </message>
  <message name="getUserLikeComment">
    <part element="tns:getUserLikeComment" name="parameters"/>
  </message>
  <message name="getUserLikeCommentResponse">
    <part element="tns:getUserLikeCommentResponse" name="parameters"/>
  </message>
  <message name="logMainService">
    <part element="tns:logMainService" name="parameters"/>
  </message>
  <message name="logMainServiceResponse">
    <part element="tns:logMainServiceResponse" name="parameters"/>
  </message>
  <message name="logTopicSearch">
    <part element="tns:logTopicSearch" name="parameters"/>
  </message>
  <message name="logTopicSearchResponse">
    <part element="tns:logTopicSearchResponse" name="parameters"/>
  </message>
  <message name="logViewDetail">
    <part element="tns:logViewDetail" name="parameters"/>
  </message>
  <message name="logViewDetailResponse">
    <part element="tns:logViewDetailResponse" name="parameters"/>
  </message>
  <message name="updatePreferenceStat">
    <part element="tns:updatePreferenceStat" name="parameters"/>
  </message>
  <message name="updatePreferenceStatResponse">
    <part element="tns:updatePreferenceStatResponse" name="parameters"/>
  </message>
  <message name="updatePlaceStat">
    <part element="tns:updatePlaceStat" name="parameters"/>
  </message>
  <message name="updatePlaceStatResponse">
    <part element="tns:updatePlaceStatResponse" name="parameters"/>
  </message>
  <message name="getLogMainService">
    <part element="tns:getLogMainService" name="parameters"/>
  </message>
  <message name="getLogMainServiceResponse">
    <part element="tns:getLogMainServiceResponse" name="parameters"/>
  </message>
  <message name="getLogTopicSearch">
    <part element="tns:getLogTopicSearch" name="parameters"/>
  </message>
  <message name="getLogTopicSearchResponse">
    <part element="tns:getLogTopicSearchResponse" name="parameters"/>
  </message>
  <message name="getLogViewDetail">
    <part element="tns:getLogViewDetail" name="parameters"/>
  </message>
  <message name="getLogViewDetailResponse">
    <part element="tns:getLogViewDetailResponse" name="parameters"/>
  </message>
  <message name="getPlaceStat">
    <part element="tns:getPlaceStat" name="parameters"/>
  </message>
  <message name="getPlaceStatResponse">
    <part element="tns:getPlaceStatResponse" name="parameters"/>
  </message>
  <message name="getPreferenceStat">
    <part element="tns:getPreferenceStat" name="parameters"/>
  </message>
  <message name="getPreferenceStatResponse">
    <part element="tns:getPreferenceStatResponse" name="parameters"/>
  </message>
  <portType name="IcomUserServiceDelegate">
    <operation name="getUserInfo">
      <input message="tns:getUserInfo"/>
      <output message="tns:getUserInfoResponse"/>
    </operation>
    <operation name="addComment">
      <input message="tns:addComment"/>
      <output message="tns:addCommentResponse"/>
    </operation>
    <operation name="loginByFace">
      <input message="tns:loginByFace"/>
      <output message="tns:loginByFaceResponse"/>
    </operation>
    <operation name="loginByGoogle">
      <input message="tns:loginByGoogle"/>
      <output message="tns:loginByGoogleResponse"/>
    </operation>
    <operation name="deleteComment">
      <input message="tns:deleteComment"/>
      <output message="tns:deleteCommentResponse"/>
    </operation>
    <operation name="likeComment">
      <input message="tns:likeComment"/>
      <output message="tns:likeCommentResponse"/>
    </operation>
    <operation name="unLikeComment">
      <input message="tns:unLikeComment"/>
      <output message="tns:unLikeCommentResponse"/>
    </operation>
    <operation name="likePlace">
      <input message="tns:likePlace"/>
      <output message="tns:likePlaceResponse"/>
    </operation>
    <operation name="unLikePlace">
      <input message="tns:unLikePlace"/>
      <output message="tns:unLikePlaceResponse"/>
    </operation>
    <operation name="sharePlaceToFacebook">
      <input message="tns:sharePlaceToFacebook"/>
      <output message="tns:sharePlaceToFacebookResponse"/>
    </operation>
    <operation name="countNumLikeAndComment">
      <input message="tns:countNumLikeAndComment"/>
      <output message="tns:countNumLikeAndCommentResponse"/>
    </operation>
    <operation name="getMostLikesComment">
      <input message="tns:getMostLikesComment"/>
      <output message="tns:getMostLikesCommentResponse"/>
    </operation>
    <operation name="getCommentsOfPlace">
      <input message="tns:getCommentsOfPlace"/>
      <output message="tns:getCommentsOfPlaceResponse"/>
    </operation>
    <operation name="getUserLikePlace">
      <input message="tns:getUserLikePlace"/>
      <output message="tns:getUserLikePlaceResponse"/>
    </operation>
    <operation name="getUserLikeComment">
      <input message="tns:getUserLikeComment"/>
      <output message="tns:getUserLikeCommentResponse"/>
    </operation>
    <operation name="logMainService">
      <input message="tns:logMainService"/>
      <output message="tns:logMainServiceResponse"/>
    </operation>
    <operation name="logTopicSearch">
      <input message="tns:logTopicSearch"/>
      <output message="tns:logTopicSearchResponse"/>
    </operation>
    <operation name="logViewDetail">
      <input message="tns:logViewDetail"/>
      <output message="tns:logViewDetailResponse"/>
    </operation>
    <operation name="updatePreferenceStat">
      <input message="tns:updatePreferenceStat"/>
      <output message="tns:updatePreferenceStatResponse"/>
    </operation>
    <operation name="updatePlaceStat">
      <input message="tns:updatePlaceStat"/>
      <output message="tns:updatePlaceStatResponse"/>
    </operation>
    <operation name="getLogMainService">
      <input message="tns:getLogMainService"/>
      <output message="tns:getLogMainServiceResponse"/>
    </operation>
    <operation name="getLogTopicSearch">
      <input message="tns:getLogTopicSearch"/>
      <output message="tns:getLogTopicSearchResponse"/>
    </operation>
    <operation name="getLogViewDetail">
      <input message="tns:getLogViewDetail"/>
      <output message="tns:getLogViewDetailResponse"/>
    </operation>
    <operation name="getPlaceStat">
      <input message="tns:getPlaceStat"/>
      <output message="tns:getPlaceStatResponse"/>
    </operation>
    <operation name="getPreferenceStat">
      <input message="tns:getPreferenceStat"/>
      <output message="tns:getPreferenceStatResponse"/>
    </operation>
  </portType>
  <binding name="IcomUserServicePortBinding" type="tns:IcomUserServiceDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getUserInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addComment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="loginByFace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="loginByGoogle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteComment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="likeComment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="unLikeComment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="likePlace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="unLikePlace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sharePlaceToFacebook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="countNumLikeAndComment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMostLikesComment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCommentsOfPlace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getUserLikePlace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getUserLikeComment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="logMainService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="logTopicSearch">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="logViewDetail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updatePreferenceStat">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updatePlaceStat">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLogMainService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLogTopicSearch">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLogViewDetail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPlaceStat">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPreferenceStat">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="IcomUserServiceService">
    <port binding="tns:IcomUserServicePortBinding" name="IcomUserServicePort">
      <soap:address location="http://localhost:8080/IComUser/IcomUserServicePort"/>
    </port>
  </service>
</definitions>
